.hero {
  height: 350px;
  display: grid;
  place-items: center;
}

.hero__title {
  text-align: center;
  color: #fff;
  font-size: var(--biggest-font-size);
}

.search {
  display: flex;
  justify-content: center;
}

.search__form {
  column-gap: 0.75rem;
  display: flex;
}

.search__select,
.search__button {
  padding: 0.75rem 1rem;
  border-radius: 4px;
}

.search__select {
  background-color: var(--bg-color);
  color: #fff;
}

.search__button {
  background-color: var(--button-color);
  color: #fff;
}

/* blog style */

.job {
  margin-top: 3rem;
}

.job__container {
  padding-bottom: 2rem;
}

.job__content {
  row-gap: 3rem;
}

.job__card {
  border-radius: 4px;
  padding: 4px;
  background-color: #2c4863;
}

.job__image {
  position: relative;
  margin-bottom: 1.5rem;
}

.job__img {
  border-radius: 4px;
}

.job__button {
  display: inline-flex;
  background-color: var(--button-color);
  padding: 12px 16px;
  border-radius: 4px;
  color: #fff;
  position: absolute;
  right: 16px;
  bottom: -15px;
}

.job__data {
  padding-left: 20px;
}

.job__title {
  font-size: var(--h3-font-size);
  color: #fff;
  font-weight: var(--fw-semibold);
}

.job__description {
  margin-bottom: 1.5rem;
}

.job__search {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-bottom: 1rem;
  flex-wrap: wrap;
}

.job__item {
  background-color: #0e2439;
  padding: 4px 8px;
  border-radius: 4px;
  color: #b6cce2;
  font-size: 0.75rem;
}

.job__line {
  margin-top: 1.5rem;
}

.job__line hr {
  border: none;
  border-top: 2px solid #4f7192;
}

.job__line .job__title {
  text-align: center;
  margin: 0.25rem;
}

.job__apply {
  justify-content: center;
  margin-top: 1.5rem;
  column-gap: 1.5rem;
  display: flex;
  margin-bottom: 2rem;
}

.job__apply-button {
  display: inline-flex;
  padding: 12px;
  background-color: #182e43;
  border-radius: 4px;
}

.url i {
  color: #357eeb;
  font-size: 1.5rem;
}

.email i {
  color: #eb5635;
  font-size: 1.5rem;
}

.wa i {
  color: #35eb73;
  font-size: 1.5rem;
}

@media screen and (max-width: 400px) {
  .search__form,
  .search {
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
  }
}

@media screen and (min-width: 576px) {
  .job__content {
    grid-template-columns: 450px;
    justify-content: center;
  }
}

@media screen and (min-width: 1024px) {
  .hero {
    background-image: url('../images/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .search {
    margin-top: -20px;
  }
  .search__select {
    width: 290px;
  }
  .search__select,
  .search__button {
    padding: 1.5rem;
    border-radius: 4px;
  }

  .job__container {
    padding-bottom: 5rem;
  }

  .job__content {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5rem;
    padding-top: 2rem;
  }
}
